/*
IMPORTERD FONTS:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; 
*/

:root {
    /* Colors */
    --clr-primary: #0D1736;
    --clr-primary-bg: #fff;

    /* Spaces */
    --large-gap: calc(1rem + 5vw);
    --medium-gap: calc(1rem + 3vw);
    --small-gap: calc(1rem + 1vw);
    --gap: calc(1rem + 2vw);

    /* Times */
    ---main-trans-time: 0.3s;

    /* Fonts */
    --primary-title: clamp(2.8rem, 1rem + 5vw, 5.5rem);
    --secondary-title: clamp(2.4rem, 1rem + 3vw, 4.2rem)
}

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: clamp(2.4rem, 1rem + 2.8vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 1rem + 2.4vw, 3.2rem);
}

h3 {
    font-size: clamp(1.8rem, 1rem + 1.8vw, 2.8rem);
}

h4 {
    font-size: clamp(1.6rem, 1rem + 1.6vw, 2.6rem);
}

h5 {
    font-size: clamp(1.4rem, 1rem + 1.4vw, 2.4rem);
}

h6 {
    font-size: clamp(1rem, 1rem + 1.2vw, 2rem);
}

p {
    font-size: clamp(1.2rem, 1rem + 1.4vw, 1.6rem);
    line-height: 1.5;
}

/* END */

/* Global Structure Presets */

.flex-center {
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-flow: column wrap;
    min-width: 100%;
    min-height: 100vh;
    padding: var(--large-gap);
}

.section-container {
    max-width: 1200px;
}

.primary-bg {
    background-image: url(../img/scattered-forcefields.svg);
    background-size: 100%;
    color: var(--clr-primary-bg);
}

.secondary-bg {
    background-color: #fff;
}

.primary-title {
    font-size: var(--primary-title);
}

.secondary-title {
    font-size: var(--secondary-title);
}

.menu-list {
    list-style: none;
}

.row-1-col-3-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--large-gap);
}

/* END */

.logo-anchor, .logo-anchor:visited {
    text-decoration: none;
    color: var(--clr-primary);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 5.2rem;
    position: fixed;
    padding: 0 var(--gap);
    background-color: #fff;
    color: var(--clr-primary);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #d8d8d8;
}

.menu-spacing {
    height: 5.2rem;
}

.menu-item, .menu-item:visited {
    font-size: clamp(1.4rem, 1rem + 1vw, 1.8rem);
    text-decoration: none;
    color: var(--clr-primary);
}

.navbar .menu-list {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
}

.navbar .menu-list a {
    margin: 2rem;
    position: relative;
}

.navbar .menu-list a::after {
    content: '';
    position: absolute;
    background-color: crimson;
    height: 3px;
    width: 0;
    bottom: -5px;
    left: 50%;
    transition: width var(---main-trans-time), left var(---main-trans-time);
}

.navbar .menu-list a:hover::after {
    left: 0;
    width: 100%;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--large-gap);
    margin-bottom: 8rem;
}

.home-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-text-content h2 {
    margin-bottom: var(--gap);
    line-height: 1.4;
}

.home-img  img {
    max-width: 100%;
}

#intro .intro-container {
    display: flex;
    flex-flow: column wrap;
    max-width: 64rem;
    gap: var(--medium-gap);
    text-align: center;
}

#intro .intro-content {
    display: flex;
    flex-flow: inherit;
    gap: var(--small-gap);
}

#top3 {
    justify-content: center;
}

#top3 .row-1-col-3-grid {
    margin-bottom: 8rem;
    counter-reset: top3-counter;
}

#top3 .top3-intro-div {
    margin-bottom: var(--large-gap);
}

#top3 article {
    display: flex;
    flex-flow: column wrap;
    gap: var(--small-gap);
}

#top3 .row-1-col-3-grid article  h3 {
    text-transform: capitalize;
    position: relative;
    left: 40px;
}

#top3 article h3::before {
    counter-increment: top3-counter;
    content: counter(top3-counter);
    font-size: var(--primary-title);
    position: absolute;
    transform: rotate(5deg);
    top: -15px;
    left: -40px;
}