:root {
    --clr-primary: #0D1736;
    --clr-main-bg: #fff;
    --gap: calc(1rem + 2vw);
    ---main-trans-time: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: clamp(2.4rem, 1rem + 2.2vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 1rem + 2vw, 3.2rem);
}

h3 {
    font-size: clamp(1.8rem, 1rem + 1.8vw, 3rem);
}

h4 {
    font-size: clamp(1.6rem, 1rem + 1.6vw, 2.8rem);
}

h5 {
    font-size: clamp(1.4rem, 1rem + 1.4vw, 2.4rem);
}

h6 {
    font-size: clamp(1rem, 1rem + 1.2vw, 2rem);
}

p {
    font-size: clamp(1.2rem, 1rem + 1.4vw, 1.6rem);
}

.section {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    padding: var(--gap);
}

.section-container {
    max-width: 1200px;
    background-color: #000;
}

.main-bg {
    background-image: url(../img/scattered-forcefields.svg);
    background-size: 100%;
    color: var(--clr-main-bg);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    position: fixed;
    padding: 0 var(--gap);
    background-color: #fff;
    color: #000;
}


.menu-list, .menu-list > a, .menu-list > a:visited {
    text-decoration: none;
    list-style: none;
    color: initial;
}

.navbar > .menu-list {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
}

.navbar > .menu-list > a {
    margin: 2rem;
    position: relative;
    transition: var(---main-trans-time);
}

.navbar > .menu-list > a:hover {
    transform: scale(1.1);
}

.navbar > .menu-list > a::after {
    content: '';
    position: absolute;
    background-color: crimson;
    height: 3px;
    transform: scaleX(0);
    width: 100%;
    bottom: -5px;
    transition: var(---main-trans-time);
}

.navbar > .menu-list > a:hover::after {
    transform: scaleX(1);
}
